## Ignore References folder
BetterLatencyAdjuster/References/
BetterLatencyAdjuster/Resources/
BetterLatencyAdjuster/obj/
BetterLatencyAdjuster/bin/
BetterLatencyAdjuster/.vs/
BetterLatencyAdjuster/packages/
BetterLatencyAdjuster/CreateJunctions.bat